.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.main-bg {
  background-color: #f4d04e;
  height: 100vh;
  position: relative;
}
.parent-block {
  width: 384px;
  height: 522px;
  background-color: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 1px solid black;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 10px 10px 0px 0px rgba(0,0,1,1);
}

.img-box {
  border-radius: 10px;
}
