.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.main-bg {
  background-color: #f4d04e;
  height: 100vh;
  position: relative;
}
.parent-block {
  width: 384px;
  height: 522px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 1px solid black;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 1, 1);
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
.parent-block:hover {
  box-shadow: 20px 20px 0px 0px rgba(0, 0, 1, 1);
}
.parent-block:hover .title {
  color: #f4d04e;
  cursor: pointer;
  cursor: url("../images/handcursor.svg"), auto;
}
.img-box {
  border-radius: 10px;
}
.category {
  width: 82px;
  height: 29px;
  background-color: #f4d04e;
  border-radius: 4px;
  text-align: center;
  padding: 4px;
  font-family: "Figtree-ExtraBold";
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 12px;
}
.date {
  font-family: "Figtree-SemiBold";
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 12px;
}
.title {
  font-family: "Figtree-ExtraBold";
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 12px;
}
.descr {
  font-family: "Figtree-SemiBold";
  color: #7f7f7f;
  font-size: 16px;
  line-height: 150%;
  font-weight: 300;
  margin-bottom: 12px;
}
.author-name {
  font-family: "Figtree-ExtraBold";
  font-size: 14px;
  line-height: 150%;
}
.author-block {
  width: 129px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.author-img {
  width: 32px;
  margin-right: 12px;
}
